<!DOCTYPE html>
<html lang="es-MX">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@900&display=swap');

            .logo {margin: 0 0 0 1.5em;}
            .logoname {font-family: 'Cinzel Decorative', cursive; font-weight: bolder;}
            .logodesc {margin-top: -8px; font-size: 12px;}
            .opciones {margin: 0 1.5em;}
        </style>
    {% endblock %}

</head>
<body class="bg-light">
    <div id="Contenedor_Superior">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <div class="logo d-flex flex-column">
                    <a class="logoname navbar-brand" href="/" style="text-align: center; color: #547c4b;">El CULinario</a>
                    <span class="logodesc" style="color: #547c4b;">Cocina para el sujeto independiente</span>
                </div>
                <div class="collapse navbar-collapse justify-content-center">
                  <div class="navbar-nav">
                    {% block paginaActiva %}{% endblock %}
                  </div>
                </div>
            </div>
        </nav>
    </div>
    <div id="Contenedor_Principal"> {% block contenido %}{% endblock %} </div>
<footer class="bg-dark text-center text-white">
  <div class="container p-4">
  <h5 class="display-6">Sígueme en:</h5>
    <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/iamfermc" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/iamFerMC" role="button"><i class="fab fa-twitter"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/iamfermc/" role="button"><i class="fab fa-instagram"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://fermtzz72.tumblr.com/" role="button"><i class="fab fa-tumblr"></i></a>
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/IamFer/" role="button"><i class="fab fa-github"></i></a>
    </section>
    <section class="mb-4">
        <p>
        <span class="logoname">El CULinario</span> es una pagina dedicada a que los usuarios puedan compartir recetas con la comunidad de manera gratuita. <br>
        Encuentra y comparte la inspiración culinaria diaria para la comunidad que ha decidido independizarse y no tiene conocimiento <br>
        sobre como cocinar. Descubra recetas, ingredientes, basados en la comida que le gusta a usted y a los amigos. <br>
        <b>Desarrollo de Software con Python.</b>
        </p>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);"> © 2021 ~ Hecho por Fer MC
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/73502adb1d.js"></script> <!-- Don't steel, it's mine -->
{% block Script %} {% endblock %}
</body>
</html>